tp2-star-wars/node_modules
tp2-star-wars/postcss.config.js
tp2-star-wars/src
tp2-star-wars/package-lock.json
tp2-star-wars/package.json
tp3-elije-tu-propia-aventura/node_modules
tp3-elije-tu-propia-aventura/postcss.config.js
tp3-elije-tu-propia-aventura/src
tp3-elije-tu-propia-aventura/package-lock.json
tp3-elije-tu-propia-aventura/package.json
tp9-reaccion-post-js/logs
tp9-reaccion-post-js/*.log
tp9-reaccion-post-js/npm-debug.log*
tp9-reaccion-post-js/yarn-debug.log*
tp9-reaccion-post-js/yarn-error.log*
tp9-reaccion-post-js/pnpm-debug.log*
tp9-reaccion-post-js/lerna-debug.log*
tp9-reaccion-post-js/node_modules
tp9-reaccion-post-js/dist
tp9-reaccion-post-js/dist-ssr
tp9-reaccion-post-js/*.local
tp9-reaccion-post-js/.vscode/*
tp9-reaccion-post-js/!.vscode/extensions.json
tp9-reaccion-post-js/.idea
tp9-reaccion-post-js/.DS_Store
tp9-reaccion-post-js/*.suo
tp9-reaccion-post-js/*.ntvs*
tp9-reaccion-post-js/*.njsproj
tp9-reaccion-post-js/*.sln
tp9-reaccion-post-js/*.sw?