tp02-star-wars/node_modules
tp02-star-wars/postcss.config.js
tp02-star-wars/src
tp02-star-wars/package-lock.json
tp02-star-wars/package.json
tp03-elije-tu-propia-aventura/node_modules
tp03-elije-tu-propia-aventura/postcss.config.js
tp03-elije-tu-propia-aventura/src
tp03-elije-tu-propia-aventura/package-lock.json
tp03-elije-tu-propia-aventura/package.json
tp09-reaccion-post-js/logs
tp09-reaccion-post-js/*.log
tp09-reaccion-post-js/npm-debug.log*
tp09-reaccion-post-js/yarn-debug.log*
tp09-reaccion-post-js/yarn-error.log*
tp09-reaccion-post-js/pnpm-debug.log*
tp09-reaccion-post-js/lerna-debug.log*
tp09-reaccion-post-js/node_modules
tp09-reaccion-post-js/dist
tp09-reaccion-post-js/dist-ssr
tp09-reaccion-post-js/*.local
tp09-reaccion-post-js/.vscode/*
tp09-reaccion-post-js/!.vscode/extensions.json
tp09-reaccion-post-js/.idea
tp09-reaccion-post-js/.DS_Store
tp09-reaccion-post-js/*.suo
tp09-reaccion-post-js/*.ntvs*
tp09-reaccion-post-js/*.njsproj
tp09-reaccion-post-js/*.sln
tp09-reaccion-post-js/*.sw?
tp10-rick-morty/logs
tp10-rick-morty/*.log
tp10-rick-morty/npm-debug.log*
tp10-rick-morty/yarn-debug.log*
tp10-rick-morty/yarn-error.log*
tp10-rick-morty/pnpm-debug.log*
tp10-rick-morty/lerna-debug.log*
tp10-rick-morty/node_modules
tp10-rick-morty/dist
tp10-rick-morty/dist-ssr
tp10-rick-morty/*.local
tp10-rick-morty/.vscode/*
tp10-rick-morty/!.vscode/extensions.json
tp10-rick-morty/.idea
tp10-rick-morty/.DS_Store
tp10-rick-morty/*.suo
tp10-rick-morty/*.ntvs*
tp10-rick-morty/*.njsproj
tp10-rick-morty/*.sln
tp10-rick-morty/*.sw?